body {
    font-family: 'Copse', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #6a0dad;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.content {
    max-width: 50%;
    padding: 20px;
    border: 2px solid #000;
    background-color: #fff;
}

.image-container {
    max-width: 40%;
    margin-right: 40px;
}

.image-container img {
    max-width: 100%;
    transition: filter 0.3s ease; /* Added transition for smooth effect */
}

/* CSS for hover effect */
.image-container img:hover {
    filter: brightness(80%);
    background-color: #6a0dad;
}

.contact-form {
    width: 70%;
    max-width: 800px;
    margin-right: 20px; /* Adjusted margin to push it to the right */
    padding: 20px;
    border: 2px solid #000;
    background-color: #fff;
}

.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.contact-form textarea {
    height: 100px;
}

footer {
    text-align: center;
}

.title {
    font-family: 'Copse', sans-serif;
    text-align: center;
    color: teal;
}

.subtitle {
    font-family: 'Delve-Hand', sans-serif;
    text-align: center;
    color: #6a0dad;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #fff;
    background-color: #6a0dad;
}

nav ul li a:active {
    color: #fff;
    background-color: #492a71;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse; /* Reverse the flex direction on smaller screens */
        align-items: stretch;
    }

    .image-container {
        max-width: 100%; /* Take full width on smaller screens */
        margin-right: 0; /* Remove margin */
        margin-bottom: 20px; /* Add margin at the bottom */
    }

    .content,
    .contact-form {
        max-width: 100%; /* Take full width on smaller screens */
    }

    .content,
    .contact-form {
        margin-right: 0; /* Remove right margin */
    }
}

